@import '../../styles/colors.scss';

.surveyListWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .contentWrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    max-width: 800px;
    width: 100%;
    padding: 40px;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        display: flex;
        flex-direction: column;
        flex-basis: 48%;
        justify-content: space-between;
        min-height: 250px;
        margin-bottom: 24px;
        background-color: $white;
        border-radius: 8px;
        box-shadow: 0px 1px 3px -1px $black;

        &:empty {
          position: relative;
          overflow: hidden;
          background-repeat: no-repeat;
          background-image: 
            linear-gradient(to right, $disabledBackground, $disabledBackground),
            linear-gradient(to right, $disabledBackground, $disabledBackground),
            linear-gradient(to right, $disabledBackground, $disabledBackground),
            linear-gradient(to right, $disabledBackground, $disabledBackground),
            linear-gradient(to right, $disabledBackground, $disabledBackground);
          background-position: 
            24px 55px,
            left 0 bottom 0,
            108px 77px,
            108px 97px,
            108px 117px;
          background-size: 
            60px 100px,
            100% 40px,
            160px 16px,
            120px 16px,
            140px 16px;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(to right, transparent, rgba($white, 0.2), transparent);
            animation: shimmer 1.2s infinite;
          }
        }

        .surveyContent {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-radius: 8px 8px 0px 0px;
          flex-grow: 1;
          background-repeat: no-repeat;
          background-image: 
            linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)),
            linear-gradient(to right, $white, $white);
          background-position: 0 0, 54 0;
          background-size: 54px 100%, 100% 100%;
          position: relative;

          .iconWrap {
            position: absolute;
            top: -10px;
            right: -10px;
          }

          time {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: center;
            align-self: center;
            align-items: center;
            width: 60px;
            height: 100px;
            border-radius: 8px;
            background-color: $primaryLight;
            color: $white;
            margin-left: 24px;

            .day {
              font-size: 40px;
              font-weight: bold;
            }
            .month {
              text-transform: lowercase;
              margin: 0px 0px 5px;
            }
            .year {
              font-size: 16px;
            }
          }

          p {
            font-size: 18px;
            margin: 24px;
            align-self: center;
            flex-grow: 1;
          }
        }

        footer {
          line-height: 40px;
          text-transform: lowercase;
          text-align: center;
          border-radius: 0px 0px 8px 8px;
          cursor: pointer;
          background-color: $primary;
          color: $white;

          &:hover {
            background-color: $primaryDark;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyListWrap {
    .contentWrap {
  
      ul {
        flex-direction: column;
  
        li {
          flex-basis: 100%;
        }
      }
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%)
  }
}