@import '../../styles/colors.scss';

.surveyListWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .contentWrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    max-width: 800px;
    width: 100%;
    padding: 40px;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
  }
}
