@import "../../styles/colors.scss";

.surveyResultWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    padding: 40px;
    width: 100%;
    flex-grow: 1;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
    }

    .answersList {
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $white;
        color: $primaryDark;
        align-items: center;
        padding: 16px;
        margin-top: 16px;
        border-radius: 8px;

        &.active {
          border: 2px solid $primaryLight;
        }

        img {
          width: 50px;
          height: 50px;
        }
        .answer {
          flex-grow: 1;
          margin: 0px 16px;
          font-size: 20px;
        }

        .percent {
          font-size: 30px;
        }
      }
    }

    button {
      margin-top: 24px;
    }

    .loadingWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($white, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: wait;

      .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($black, 0.9);
        width: 300px;
        height: 150px;
        border-radius: 8px;
        color: $white;

        span {
          color: $white;
          font-size: 16px;
          margin-bottom: 8px;
          text-transform: lowercase;
        }
      }
    }
  }
}